<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <td><strong>Nome:</strong></td>
    <td><%= @produto.nome %></td>
  </tr>
  <tr>
    <td><strong>Descrição:</strong></td>
    <td><%= @produto.descricao %></td>
  </tr>
  <tr>
    <td><strong>Preço:</strong></td>
    <td><%= @produto.preco %></td>
  </tr>
  <tr>
    <td><strong>Categoria:</strong></td>
    <td><%= @produto.categoria %></td>
  </tr>
  <tr>
    <td><strong>Marca:</strong></td>
    <td><%= @produto.marca %></td>
  </tr>
  <tr>
    <td><strong>Tipo de pet:</strong></td>
    <td><%= @produto.tipoPet %></td>
  </tr>
</table>

<div class="field is-grouped" style="padding: 1em;">
  <%= button_to "Editar", edit_produto_path(@produto), class: "button is-info is-outlined", :method => :get %> 
  <%= button_to "Voltar", produtos_path, class: "button is-warning is-outlined", :method => :get %>
</div>
